.table-grid .text-bolder {
    font-weight: 700;
}
.table-grid th {
    text-align: center;
}
.table-grid {
    position: relative;
}
.table-grid .grid-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #FFFFFF;
    opacity: 0.5;
}